:root {
  --c-gray: rgb(218, 220, 224);
  --c-off-white-1: #f1f3f4;
  --c-black: #000;
  --c-white: #fff;
  --tc-dark-gray: rgb(32, 33, 36);
  --tc-gray-1: rgba(128, 134, 139,0.7);
  --tc-gray-2: rgba(95, 99, 104,0.5);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", "Google Sans", sans-serif;
}
div {
  display: block;
}
input {
  writing-mode: horizontal-tb !important;
  color: var(--tc-gray-1);
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
}

/* Specific Selectors */
#app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--c-off-white-1);
  background-color: var(--c-white);
  position: fixed;
  width: 100%;
  z-index: 1;
}

#app-header h2 {
  color: var(--tc-gray-1);
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 13px;
  text-transform: uppercase;
}
#app-header h3 {
  color: var(--tc-gray-2);
  display: block;
  font-family: "Google Sans", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: -1px;
  line-height: 20px;
}

#main-section {
  height: 100%;
  left: 0;
  padding: 64px 16px 10px 16px;
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-button {
  background-color: var(--c-off-white-1);
  border: 1px solid var(--c-gray);
  border-radius: 1rem;
  padding: 0.3rem;
  position: absolute;
  font-size: 0.8rem;
  width: 5rem;
  top: 1.5rem;
  right: -1rem;
  text-align: center;
}
.menu-button:focus {
  background-color: var(--tc-dark-gray);
  color: white;
}
#new-note-div {
  align-items: center;
  min-width: 290px;
  box-sizing: border-box;
  background-color: var(--c-white);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#new-note-button {
  border-radius: 3rem;
  color: var(--tc-gray-2);
  cursor: pointer;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  font-family: "Google Sans", "Roboto", arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
#new-note-button:hover {
  background-color: var(--c-off-white-1);
}

#new-list-button {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}
#new-list-button > svg {
  margin: 2px;
  display: flex;
  justify-content: center;
}
#new-list-button:hover {
  background-color: var(--c-off-white-1);
}
.note-card {
  border: 1px solid var(--c-gray);
  border-radius: 8px;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  min-height: 50px;
  position: relative;
  margin-top: 10px;
  padding-bottom: 16px;
  transition: box-shadow outline 100ms;
}
.note-card img {
  pointer-events: none;
}
.note-card:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.note-card:focus {
  outline: 1px solid rgba(0, 0, 0, 0.6);
}
.note-card-title,
.note-card-desc {
  background-color: transparent;
  outline: 0px;
  border: none;
  resize: none;
  padding-top: 16px;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
}

.note-card-title {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  text-overflow: ellipsis;
  color: var(--tc-dark-gray);
}

.note-card-desc {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--tc-gray-2);
}
.note-card-color-button,
.note-card-menu-button,
.note-card-pin-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: opacity 100ms linear;
}
.note-card-pin-button {
  top: 8px;
  right: 0.5rem;
}

.note-card-menu-button {
  top: 8px;
  right: 1.5rem;
}
.note-card-color-button {
  top: 8px;
  right: 2.5rem;
}

.color-ball-container {
  background-color: var(--c-off-white-1);
  border: 1px solid var(--c-gray);
  border-radius: 1rem;
  padding: 0.3rem;
  position: absolute;
  display: flex;
  position: absolute;
  right: 1.5rem;
}
.color-ball {
  display: flex;
  border: 2px solid var(--c-gray);
  flex-direction: row;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  gap: 0.2rem;
}
.note-card:hover .note-card-menu-button,
.note-card:hover .note-card-pin-button,
.note-card:hover .note-card-color-button {
  opacity: 1;
}
.note-card-pin-button:hover,
.note-card-menu-button:hover,
.note-card-color-button:hover {
  background-color: var(--tc-gray-1);
  opacity: 0.3;
}

.note-card-done-button {
  border-radius: 0.5rem;
  border: none;
  display: flex;
  right: 1rem;
  bottom: 1rem;
  justify-content: flex-end;
  background-color: transparent;
  font-weight: bold;
  outline: 0;
  position: absolute;
}
.note-card-done-button:hover,
.note-card-done-button:focus {
  background-color: var(--tc-gray-1);
}

.no-notes-found {
  font-family: "Google Sans", sans-serif;
  color: var(--tc-dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no-notes-found > h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}
.no-notes-found > h4 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 200;
}
.icon-color {
  color: var(--c-black);
  opacity: 0.54;
}
.icon-size {
  height: 20px;
  width: 20px;
}

.icon-button {
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  margin: 0px -2px;
}
.icon-button:hover {
  background-color: var(--c-off-white-1);
  opacity: 0.87;
}

.search-input {
  background-color: transparent;
  border: none;
  color: var(--tc-gray-2);
  box-flex: 1;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  width: 100px;
}
.search-panel {
  align-items: center;
  box-sizing: border-box;
  background-color: var(--c-white);
  display: flex;
  flex-direction: row;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* Other */

.delete-card-btn {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  top: 0.2rem;
  right: 0.2rem;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 50%;
  background-color: var(--c-gray);
  transition: opacity 0.3s ease;
}

.note-card:hover .delete-card-btn {
  opacity: 1;
}

.plus {
  color: white;
  background-color: var(--secondary-color);
  margin: 0 0.3rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
}

.note-card-button-active {
  opacity: 1;
}

[data-color="red"] {
  background: linear-gradient(180deg,rgb(255,0,0) 0%, rgba(255,255,255,0) 40%);
  border-color: darkred;
}
[data-color="orange"] {
  background: linear-gradient(180deg,rgb(255,165,0) 0%, rgba(255,255,255,0) 40%);
  border-color: darkorange;
}
[data-color="yellow"] {
  background: linear-gradient(180deg,rgb(255,255,0) 0%, rgba(255,255,255,0) 40%);
  border-color: orange;
}
[data-color="greenyellow"] {
  background: linear-gradient(180deg,rgb(0,128,0) 0%, rgba(255,255,255,0) 40%);
  border-color: green;
}
[data-color="blue"] {
  background: linear-gradient(180deg,rgb(0,0,255) 0%, rgba(255,255,255,0) 40%);
  border-color: darkblue;
}
[data-color="violet"] {
  background: linear-gradient(180deg,rgb(238,130,238) 0%, rgba(255,255,255,0) 40%);
  border-color: purple;
}
[data-color="white"] {
  background: linear-gradient(180deg,rgb(230,230,230) 0%, rgba(255,255,255,0) 40%);
  border-color: gray;
}

/* Utility classes */

.hide {
  display: none;
}

.h-4rem {
  height: 4rem;
}
.m-05rem-l {
  margin-left: 0.5rem;
}
.m-0625rem-r {
  margin-right: 0.625rem;
}
.m-0625rem-lr {
  margin-inline: 0.625rem;
}
.p-0375rem-lr {
  padding-inline: 0.375rem;
}
.p-05rem-lr {
  padding-inline: 0.5rem;
}
.p-05rem {
  padding: 0.5rem;
}
.p-0625rem {
  padding: 0.625rem;
}
.p-05rem-0625rem {
  padding: 0.5rem 0.625rem;
}
.p-1rem-lr {
  padding-inline: 1rem;
}
