:root {
  --c-light-gray: rgba(60, 64, 67, 0.08);
  --c-gray: rgb(218, 220, 224);
  --c-off-white-1: #f1f3f4;
  --c-black: #000;
  --c-white: #fff;
  --tc-dark-gray: rgb(32, 33, 36);
  --tc-gray-1: rgb(128, 134, 139);
  --tc-gray-2: rgb(95, 99, 104);
  --ff-google: "Google Sans", "Roboto", sans-serif;
  --ff-roboto: "Roboto", "Arial", sans-serif;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: var(--ff-roboto);
}
div {
  display: block;
}
input {
  writing-mode: horizontal-tb !important;
  color: var(--tc-gray-1);
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
}

/* Specific Selectors */

/*===========================*/
/* App Header - Mobile First */
/*===========================*/
#app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--c-light-gray);
  background-color: var(--c-white);
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  z-index: 1;
}

.header-title {
  color: var(--tc-gray-2);
  display: block;
  font-family: var(--ff-roboto);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 13px;
  text-transform: uppercase;
}
.header-subtitle {
  color: var(--tc-gray-2);
  display: block;
  font-family: var(--ff-google);
  font-size: 16px;
  font-weight: bold;
  margin-left: -1px;
  line-height: 20px;
}
#menu-bars {
  display: none;
}
.header-icon {
  display: none;
  background: url(./resources/keep-icon.png) no-repeat center;
  background-size: contain;
}
.header-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-left: 0.5rem;
}
.search-panel {
  align-items: center;
  background-color: var(--c-white);
  display: none;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.search-input {
  border-radius: 0.25rem;
  border: none;
  color: var(--tc-gray-2);
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  width: 100px;
}
.search-icon,
.search-cancel-btn {
  margin: 3px;
  padding: 0.5rem;
}

/*===========================*/
/* App Header - Desktop Size */
/*===========================*/
@media screen and (min-width: 900px) {
  #app-header {
    display: flex;
    justify-content: flex-start;
  }
  .header-title {
    font-size: 1.3rem;
    font-family: "Product Sans";
    letter-spacing: 0px;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 0.5rem;
  }
  .header-container {
    min-width: 230px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    padding-right: 1rem;
    margin-inline: 0.5rem;
  }
  #menu-bars {
    display: flex;
  }
  .header-icon {
    display: inline;
    margin-left: 0.5rem;
  }
  .header-subtitle {
    display: none;
  }
  .search-input {
    margin-right: 1rem;
    background-color: transparent;
    max-width: min(100%, 720px);
  }
  .search-panel {
    max-width: min(100%, 720px);
    margin-right: auto;
    display: flex;
    background-color: var(--c-light-gray);
    border-radius: 0.5rem;
  }
  .search-cancel-btn {
    display: none;
  }
}

/*===============================*/
/* Take New Notes - Mobile First */
/*===============================*/

#new-note-div {
  align-items: center;
  min-width: 290px;
  background-color: var(--c-white);
  display: flex;
  flex-direction: row;
}
#new-note-button {
  border-radius: 3rem;
  color: var(--tc-gray-2);
  cursor: pointer;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  font-family: var(--ff-google);
  font-size: 14px;
  font-weight: 500;
}
#new-note-button:hover {
  background-color: var(--c-off-white-1);
}

/*===============================*/
/* Take New Notes - Desktop Size */
/*===============================*/
@media screen and (min-width: 900px) {
  #new-note-div {
    display: flex;
    align-items: center;
    width: min(100%, 600px);
    margin: 2rem auto 1rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
    background-color: var(--c-white);
    flex-direction: row;
    flex: 0 1 3rem;
    padding: 0.2rem 0.5rem;
  }
  #new-note-button img {
    display: none;
  }
}
#main-section {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 64px 0px 10px 0px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content-area { 
  flex-grow: 1;
}
#notes-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
 flex: 1 0 300px;
}

/*===============================*/
/* Sidebar        - Mobile First */
/*===============================*/
.sidebar-container {
  display: none;
}
/*===============================*/
/* Sidebar        - Desktop Size */
/*===============================*/
@media screen and (min-width: 900px) {
  .sidebar-container {
    display:flex;
    flex-direction: row;
    width: 4.25rem;
    height: 100%;
    padding-top: 0.5rem;
    transition: width, 150ms 350ms;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 3rem;
    margin-left: 1.25rem;
    transition: margin, width,  150ms 350ms;
  }
  .sidebar-item {
    cursor:pointer;
  }
  .sidebar-container:hover,
  .sidebar-container:focus-within{
    width: 17.5rem;
  }
  .sidebar-container:hover .sidebar{
    margin-left: 0rem;
    width: 100%;
  }
  .sidebar-container:hover .sidebar-item:hover > .sidebar-item-icon {
    background-color: var(--c-light-gray) ;
    transition-delay: 0ms;
    transition-duration: 0ms;
    
  }
  .sidebar-container:hover .sidebar-item-icon {
    border-radius: 0vw 100vw 100vw 0vw;
    padding-left: 2rem;
    width: 100%;
  }
  .sidebar-item-icon {
    pointer-events: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 3rem;
    padding:0.75rem;
    width: 3rem;
    border-radius:  100vw 100vw 100vw 100vw;
    background-color: var(--c-white);
    transition: width, border-radius, padding-left, 150ms 350ms;
  }
  .sidebar-item-label {
    pointer-events: none;
    background-color: transparent;
    padding-left: 1rem;
    white-space: nowrap;
  }
  .sidebar-item[active] > .sidebar-item-icon, 
  .sidebar-container:hover .sidebar-item[active] > .sidebar-item-icon {
    background-color: #feefc3;
  }
}


.menu-button {
  background-color: var(--c-off-white-1);
  border: 1px solid var(--c-gray);
  border-radius: 1rem;
  padding: 0.3rem;
  position: absolute;
  font-size: 0.8rem;
  width: 5rem;
  top: 1.5rem;
  right: -1rem;
  text-align: center;
}
.menu-button:focus {
  background-color: var(--tc-dark-gray);
  color: white;
}



/*===============================*/
/* Note cards     - Mobile First */
/*===============================*/
.mini-icon {
  width: 1.125rem;
  height: 1.125rem;
  padding: 0.125rem;
}
.note-card-buttons-container {
  display: flex;
  flex: 0 0 1.5rem;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  height: 1.5rem;
  position: absolute;
  z-index: 1;
}
.note-card-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0;
  padding: 0.1rem;
  transition: opacity 100ms linear;
}

.note-card:hover .note-card-button {
  opacity: 1;
}
.note-card-button:hover {
  background-color: var(--c-light-gray);
  opacity: 0.3;
}

/*===============================*/
/* Note cards     - Desktop Size */
/*===============================*/

.note-card {
  border: 1px solid var(--c-gray);
  border-radius: 8px;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  flex: 0 1 240px;
  min-height: 50px;
  position: relative;
  margin-top: 10px;
  padding-bottom: 16px;
  transition: box-shadow outline 100ms;
}
.note-card img {
  pointer-events: none;
}
.note-card:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.note-card:focus {
  outline: 1px solid rgba(0, 0, 0, 0.6);
}
.note-card-title,
.note-card-desc {
  background-color: transparent;
  outline: 0px;
  border: none;
  resize: none;
  padding-top: 16px;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
}

.note-card-title {
  font-family: var(--ff-google);
  font-weight: 500;
  text-overflow: ellipsis;
  color: var(--tc-dark-gray);
}

.note-card-desc {
  font-family: var(--ff-roboto);
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--tc-gray-2);
}

.color-ball-container {
  background-color: var(--c-off-white-1);
  border: 1px solid var(--c-gray);
  border-radius: 1rem;
  padding: 0.3rem;
  position: absolute;
  display: flex;
  position: absolute;
  right: 1.5rem;
  gap: 0.1rem;
}
.color-ball {
  display: flex;
  border: 1px solid var(--c-gray);
  flex-direction: row;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
.completed-items-area {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: flex-start;
  border-top: 1px solid var(--c-gray);
  border-top-color: #00000040;
  margin-top: 0.5rem;
  gap: 0.25rem;
}
.completed-to-do-items-div {
  gap: 0.5rem;
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}
.completed-items-btn {
  padding: 0.6rem;
  background-image: url(./resources/svg/list-arrow-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  transition: transform 150ms;
}
.completed-items-label {
  color: var(--tc-gray-1);
}
.completed-items-label:hover,
.completed-items-label:focus {
  color: var(--tc-dark-gray);
}
.completed-items-list {
  display: flex;
  flex-direction: column;
}

.note-card-done-button {
  border-radius: 0.5rem;
  border: none;
  display: flex;
  right: 0.25rem;
  bottom: 0.25rem;
  justify-content: flex-end;
  background-color: transparent;
  font-weight: bold;
  outline: 0;
  position: absolute;
}
.note-card-done-button:hover,
.note-card-done-button:focus {
  background-color: var(--tc-gray-1);
}

.no-notes-found {
  font-family: "var(--ff-google) ", sans-serif;
  color: var(--tc-dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no-notes-found > h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}
.no-notes-found > h4 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 200;
}

/* Mobile Icons */
.icon-size {
  height: 1.25rem;
  width: 1.25rem;
}
.icon-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1.25rem;
}
.icon-button:hover {
  background-color: var(--c-light-gray);
}
.svg-icon {
  opacity: 0.6;
  color: #000;
  width: 20px;
  height: 20px;
}
/* Desktop Icons */
@media screen and (min-width: 900px) {
  .icon-size {
    height: 2.5rem;
    width: 2.5rem;
  }
  .svg-icon {
    opacity: 0.6;
    color: #000;
  }
  .svg-icon-large {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.6;
    color: #000;
  }
}

.to-do-item,
#to-do-item-placeholder {
  display: flex;
  align-items: center;
  height: 1.25rem;
  gap: 0.5rem;
}

.to-do-item-checkbox {
  cursor: pointer;
  background-image: url(./resources/svg/checkbox-unchecked.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.8rem;
  opacity: 0.5;
}
.to-do-item-checkbox-checked {
  background-image: url(./resources/svg/checkbox-checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.to-do-item-label {
  color: var(--tc-dark-gray);
  flex: 1;
}

.to-do-item-delete {
  background-color: var(--c-gray);
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  text-align: center;
  display: none;
  flex: 0;
  align-items: center;
  justify-content: center;
  color: var(--tc-dark-gray);
  opacity: 0;
}
.to-do-item:focus-visible .to-do-item-delete {
  display: flex;
  opacity: 1;
}

.to-do-item-textarea {
  font-family: var(--ff-roboto);
  color: var(--tc-dark-gray);
  background-color: transparent;
  outline: 0px;
  border: none;
  flex: 1;
  resize: none;
  width: 100%;
  height: 1rem;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
}

/* Other */

.delete-card-btn {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  top: 0.2rem;
  right: 0.2rem;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 50%;
  background-color: var(--c-gray);
  transition: opacity 0.3s ease;
}

.note-card:hover .delete-card-btn {
  opacity: 1;
}

.plus {
  color: white;
  background-color: var(--secondary-color);
  margin: 0 0.3rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
}

.note-card-button-active,
.note-card-button-active > img {
  opacity: 1;
  color: red;
}

[data-color="red"] {
  background: #f28b82;
  border-color: #f28b82;
}
[data-color="orange"] {
  background: #fbbc04;
  border-color: #fbbc04;
}
[data-color="yellow"] {
  background: #fff475;
  border-color: #fff475;
}
[data-color="green"] {
  background: #ccff90;
  border-color: #ccff90;
}
[data-color="teal"] {
  background: #a7ffeb;
  border-color: #a7ffeb;
}
[data-color="blue"] {
  background: #cbf0f8;
  border-color: #cbf0f8;
}
[data-color="darkblue"] {
  background: #aecbfa;
  border-color: #aecbfa;
}
[data-color="purple"] {
  background: #d7aefb;
  border-color: #d7aefb;
}
[data-color="pink"] {
  background: #fdcfe8;
  border-color: #fdcfe8;
}
[data-color="brown"] {
  background: #e6c9a8;
  border-color: #e6c9a8;
}
[data-color="gray"] {
  background: #e8eaed;
  border-color: #e8eaed;
}
[data-color="default"] {
  background: #fff;
  border-color: #e0e0e0;
}

/* Utility classes */

.hide {
  display: none;
}

.h-4rem {
  height: 4rem;
}
.m-05rem-l {
  margin-left: 0.5rem;
}
.m-0625rem-r {
  margin-right: 0.625rem;
}
.m-0625rem-lr {
  margin-inline: 0.625rem;
}
.p-0375rem-lr {
  padding-inline: 0.375rem;
}
.p-05rem-lr {
  padding-inline: 0.5rem;
}
.p-05rem {
  padding: 0.5rem;
}
.p-0625rem {
  padding: 0.625rem;
}
.p-05rem-0625rem {
  padding: 0.5rem 0.625rem;
}
.p-1rem-lr {
  padding-inline: 1rem;
}

.rotate-90-cw {
  transform: rotate(90deg);
}
